body {
  background-color: lightblue;
  
}

div {
  text-align: center;
color: purple;
  width: 40px;
  height: 40px;
}

button {
  background-color: lightgreen;
  text-align: center;
  color: green;
  
}

input {
   color: orange;
  width: 40px;
  height: 40px;
}

#JavaScript {
   text-align: center;
  color: yellow;
  
}

form {
  width: 40px;
  height: 40px;
  
}


p {
   text-align: center;
  
}
