body {
  background-color: lightblue;
  
}

div {
  text-align: center;
color: purple;
  
}

button {
  background-color: lightgreen;
  text-align: center;
  color: green;
  
}

input {
   color: orange;
  
}
