/* body styles */
body {
  background-color: lightblue;
  margin: 0;
  
}

/* id informe styles */

#informe {
  text-align: center;
color: purple;
}

/* button styles */

button {
  background-color: lightgreen;
  text-align: center;
  color: green;
}

/* input styles */

input {
   color: orange;
}

/* html styles */

#html {
   text-align: center;
   background-color: orange;
   margin: 20px;
   border: 6px solid black;
}

#css {
   text-align: center;
   background-color: blue;
   margin: 20px;
   border: 6px solid black;
}

#js {
   text-align: center;
   background-color: yellow;
   margin: 20px;
   border: 6px solid black;
}

form {
  width: 40px;
  height: 40px;
}

footer {
  text-align: center;
  color: grey;
}

#logo {
    text-align: center;
        color: blue;
}

#html2 {
  background-color: lightgreen;
  border: 6px dashed #FF0000;
  padding: 20px;
  margin: 20px;
}

#css2 {
  background-color: #6666FF;
  border: 6px dashed #00008B;
  padding: 20px;
  margin: 20px;
}

#js2 {
  background-color: orange;
  border: 6px dashed gold;
  padding: 20px;
  margin: 20px;
}

h4 {
  background-color: #6788DE;
  padding: 6px;
  border: 2px dashed black;
  text-align: center;
  color: #24DA68;
  margin: 20px;
}

#logo {
width: 60px; 
height: 60px;
margin-top: 6px;
margin-left: 6px;
margin-right: 12px;
margin-bottom: 6px;
}

#saludos {
text-align: center;
color: #0000FF;
margin: 12px;
}

#logotipo {
display: flex;
align-items: center;
border: 2px dashed gold;
background-color: #0000FF;
padding: 2px;
}

#title {
font-size: 20px;
}

li {
margin-left: 6px;
}

#frontend {
  margin: 20px;
  text-align: center;
}

#frontend2 {
margin: 20px;
padding: 12px;
border: 6px dashed #2266AF;
}

#backend {
margin: 20px;
text-align: center;
}

#backend2 {
margin: 20px;
padding: 12px;
border: 6px dashed #FF6662;
}

#conectar {
margin: 20px;
text-align: center;
}

#api {
margin: 20px;
}

#definir {
margin: 20px;
border: 6px dashed #8888FF;
background-color: #46AD88;
padding: 20px;
}

#type {
text-align: center;
border: 2px solid black;
margin: 20px;
}

#definición {
border: 6px dashed #EAD268;
padding: 6px;
margin: 20px;
}
