/* body styles */
body {
  background-color: #222222;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* id informe styles */

#informe {
  text-align: center;
  color: purple;
}

/* button styles */

button {
  background-color: lightgreen;
  text-align: center;
  color: green;
}

/* input styles */

input {
   color: orange;
}

/* html styles */

#html {
   text-align: center;
   background: linear-gradient(40deg, #66ff66 80%, #ffffff 20%);
   margin: 20px;
   border-radius: 20px;
   font-family: verdana;
}

/* css styles */

#css {
   text-align: center;
   background: linear-gradient(40deg, #66ff66 80%, #ffffff 20%);
   margin: 20px;
   border-radius: 20px;
   font-family: quicksand;
}

/* js styles */

#js {
   text-align: center;
   background: linear-gradient(40deg, #66ff66 80%, #ffffff 20%);
   margin: 20px;
   border-radius: 20px;
   font-family: serif;
}

form {
  width: 40px;
  height: 40px;
}

@keyframes move1 {
  from {
    position: relative;
    left: -600px;
  }
  to {
    position: relative;
    left: 4px;
  }
}

@keyframes move2 {
  from {
    position: relative;
    left: 600px;
  }
  to {
    position: relative;
    left: 4px;
  }
}

#html2 {
  background-color: #8f00ff;
  border-radius: 20px;
  padding: 20px;
  animation: move1;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  margin: 20px;
  font-family: arial;
  text-align: justify;
}

#css2 {
  background-color: #8f00ff;
  border-radius: 20px;
  padding: 20px;
  animation: move2;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  margin: 20px;
  opacity: 0.8;
  font-family: arial;
}

#js2 {
  background-color: #8f00ff;
  border-radius: 20px;
  padding: 20px;
  animation: move1;
  animation-duration: 4.2s;
  animation-fill-mode: forwards;
  margin: 20px;
  opacity: 0.8;
  font-family: quicksand;
}

h4 {
  background-color: #6788de;
  padding: 6px;
  border: 4px dashed black;
  text-align: center;
  color: #24da68;
  margin: 20px;
  font-family: verdana;
}

#logo {
width: 60px; 
height: 60px;
margin: 6px 12px 6px 6px;
text-align: center;
color: blue;
}

#logotipo {
display: flex;
align-items: center;
border: 2px dashed gold;
background-color: #00008b;
padding: 2px;
}

#title {
  font-size: 30px;
  font-family: arial;
}

.box {
  width: 200px;
  height: 160px;
  margin: 2px;
  float: left;
  border: 2px solid black;
}

#contacto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#logoFacebook{
  width: 20px;
  height: 20px;
  border: 1px solid #0000ff;
  border-radius: 6px;
  margin: 2px;
}

#contactoFacebook{
  text-decoration: none;
  background-color: #0000ff;
  color: white;
  border: 1px solid #0008b5;
  border-radius: 6px;
}

#emojiHappy{
  display: none;
  margin-left: 6px;
}

#saludar {
  background-color: #00ff00;
  transition: background-color 0.6s ease-in-out;
  border-radius: 12px;
}

#saludar:hover {
  background-color: #00000b;
  transform: scale(0.9);
}

.labelText {
  color: #0000ff;
  font-weight: bold;
}

#userName {
  position: relative;
  left: 26px;
}

#userLogs {
  background-color: #0088ff;
  transition: background-color 0.6s ease-in-out;
  padding: 6px;
}

#userLogs:hover {
  background-color: #0066ff;
}

#subtitle {
  text-align: center;
  color: #00bb00;
}

footer {
  text-align: center;
  color: grey;
  margin-top: 6px;
}

#linkPrivacy {
  color: #0000ff;
  font-weight: bold;
}

#contentVeryImportant {
  width: 300px;
  height: 160px;
  margin: 20px;
  overflow: auto;
}

#myTip {
  position: relative;
  left: 10px;
  font-family: arial;
}

#titleOfTip {
  text-align: center;
}
