/* body styles */
body{
  background-color: #222222;
  margin: 0;
  padding: 0;
}

/* id informe styles */

#informe{
  text-align: center;
color: purple;
}

/* button styles */

button{
  background-color: lightgreen;
  text-align: center;
  color: green;
}

/* input styles */

input{
   color: orange;
}

/* html styles */

#html{
   text-align: center;
   background-color: orange;
   margin: 20px;
   border: 4px solid black;
  font-family: verdana;
}

/* css styles */

#css{
   text-align: center;
   background-color: blue;
   margin: 20px;
   border: 4px solid black;
   font-family: quicksand;
}

/* js styles */

#js{
   text-align: center;
   background-color: yellow;
   margin: 20px;
   border: 4px solid black;
   font-family: serif;
}

form{
  width: 40px;
  height: 40px;
}

footer{
  text-align: center;
  color: grey;
  margin-top: 6px;
}

#html2{
  background-color: #ff6666;
  border: 4px dashed #24da68;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  opacity: 0.8;
  font-family: sheriff;
  text-align: justify;
}

#css2{
  background-color: #6666ff;
  border: 4px dashed #00008b;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  opacity: 0.8;
  font-family: arial;
}

#js2{
  background-color: orange;
  border: 4px dashed gold;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  opacity: 0.8;
  font-family: quicksand;
}

h4{
  background-color: #6788de;
  padding: 6px;
  border: 4px dashed black;
  text-align: center;
  color: #24da68;
  margin: 20px;
  font-family: verdana;
}

#logo{
width: 60px; 
height: 60px;
margin-top: 6px;
margin-left: 6px;
margin-right: 12px;
margin-bottom: 6px;
text-align: center;
color: blue;
}

#saludos{
text-align: center;
color: #0000FF;
margin: 12px;
}

#logotipo{
display: flex;
align-items: center;
border: 2px dashed gold;
background-color: #0000ff;
padding: 2px;
}

#title{
  font-size: 30px;
  font-family: arial;
}

.box{
  width: 200px;
  height: 160px;
  margin: 2px;
  float: left;
  border: 2px solid black;
}

#contacto{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#logoFacebook{
  width: 20px;
  height: 20px;
  border: 1px solid #0000ff;
  border-radius: 6px;
  margin: 2px;
}

#contactoFacebook{
  text-decoration: none;
  background-color: #0000ff;
  color: white;
  border: 1px solid #0008b5;
  border-radius: 6px;
}

#emojiHappy{
  display: none;
  margin-left: 6px;
}

#saludar {
  background-color: #00ff00;
  transition: background-color 0.6s ease-in-out;
  border-radius: 12px;
}

#saludar:hover {
  background-color: #00000b;
  transform: scale(0.9);
}

.labelText {
  color: #0000ff;
  font-weight: bold;
}

#userName {
  position: relative;
  left: 26px;
}

#userLogs {
  background-color: #ffacf6;
  transition: background-color 0.6s ease-in-out;
  margin: 12px;
  padding: 6px;
  border-radius: 0 60px 0 60px;
}

#userLogs:hover {
  background-color: #bb8fc6;
  padding-bottom: 20px;
}

#subtitle {
  text-align: center;
  color: #00bb00;
}
